<div class="hero-unit">
	<h1>OGC Climatology-Hydrology Information Sharing Pilot</h1>
	<p>
		This use case focuses on exchanging cross-border hydrologic data (stream flow and groundwater levels) with a unified alert service. Stream/river gauge and groundwater well locations are associated with a river network that in turn is associated with a set of basins (watersheds) (For the purposes of this Pilot, a simple geometric buffer will be used to identify gauge and well locations rather than catchments). For any well or stream gauge location, a web service provides access to the gauge and well information on all upstream stream segments or in all contributing basins. An event service provides subscribers a notification if any upstream streamflow or well water level reaches or exceeds a user-defined threshold. Selected river basins cross the U.S./Canada border. Data providers include state, provincial, and federal agencies. Based on sensor events, a flood is determined to be imminent and alerts are sent to the authorities in the affected areas.
	</p>
</div>

<div class="logos">
	<div class="row-fluid">
		<div class="span2">
			Project by:
		</div>
		<div class="span10"><img class="unified" src="logos/ogc.jpg" />
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			Sponsors:
		</div>
		<div class="span10"><img src="logos/ec.gif"><img src="logos/nrcan.gif"><img class="unified" src="logos/usgs.jpg">
		</div>
	</div>
	<div class="row-fluid participant">
		<div class="span2">
			Participant:
		</div>
		<div class="span10"><img class="unified" src="logos/explorus.jpeg" /><img class="unified" src="logos/gis-fcu.jpg" /><img class="unified" src="logos/asa.jpeg" />
		</div>
	</div>
</div>
<script>jQuery('.hero-unit').closest('.container-fluid').attr('class', 'container');</script>
