<div id="map" style="height: 100%"></div>
<script>
	//var map = L.map('map').setView([49.6, -100], 8);
	var map = L.map('map').setView([51, -110], 6);
	// Use MapBox as base layer
	L.tileLayer('http://{s}.tiles.mapbox.com/v2/tesera.map-lmy2wpqu/{z}/{x}/{y}.png').addTo(map);

	jQuery(function($) {
		/*$.ajax({
			url : '/proxy',
			data : {
				url : ['http://198.103.103.7/GinService/sos?', //
				'REQUEST=GetFeatureOfInterest', //
				'&VERSION=2.0.0', //
				'&SERVICE=SOS', //
				'&spatialFilter=om:featureOfInterest/* /sams:shape,-101.2,49,-99.5,50.1', //
				'&namespaces=xmlns(sams,http://www.opengis.net/samplingSpatial/2.0),xmlns(om,http://www.opengis.net/om/2.0']//
				.join('')
			},
			success : function(responseXML) {
				var xml = responseXML, point, description, identifier;
				var markers = new L.MarkerClusterGroup();

				$(xml).find('featureMember').each(function(index, element) {
					point = $(element).find('pos')[0].textContent.split(' ');
					description = $(element).find('description')[0].textContent;
					identifier = $(element).find('identifier')[0].textContent;
					markers.addLayer(new L.Marker(point).bindPopup(description + ' (' + identifier + ')'));
				})

				map.addLayer(markers);
			}
		});*/

		$.ajax({
			url : '/proxy',
			data : {
				url : ['http://ngwd-bdnes.cits.nrcan.gc.ca:8080/proxy/GinService/sos/gw?', //
				'REQUEST=GetFeatureOfInterest', //
				'&VERSION=2.0.0', //
				'&SERVICE=SOS', //
				'&spatialFilter=om:featureOfInterest/*/sams:shape,-116,50.5,-114.3,51.6', //
				'&namespaces=xmlns(sams,http://www.opengis.net/samplingSpatial/2.0),xmlns(om,http://www.opengis.net/om/2.0)']//
				.join('')
			},
			success : function(responseXML) {
				var xml = responseXML, point, description, identifier;
				var markers = new L.MarkerClusterGroup();

				$(xml).find('featureMember').each(function(index, element) {
					point = $(element).find('pos')[0].textContent.split(' ');
					description = $(element).find('description')[0].textContent;
					identifier = $(element).find('identifier')[0].textContent;
					markers.addLayer(new L.Marker(point).bindPopup(description + ' (' + identifier + ')'));
				})

				map.addLayer(markers);
			}
		});
	})
</script>
