// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  #map {
    margin-left: -20px;
    margin-right: -20px;
  }
}


.navbar {
  .nav.pull-right  {
    margin-right: 20px;
  }
  input, button.btn, label.label {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0 6px;
  }
  input, label.label {
    width: 200px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid black;
  }
  button.btn {
    width: 80px;
  }
  label.label {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background: none;
  }
}


.layer-status {
  width: 12px;
  height: 12px;
  border-radius: 7px;
  border: 1px solid white;
  margin: 3px;
}

.layer-status-off {
  background-color: red;
  border: 1px solid #c00000;
}

.layer-status-loading {
  background-color: yellow;
  border: 1px solid #c0c000;
}

.layer-status-on {
  background-color: green;
  border: 1px solid #00c000;
}


#list-point {
  font-size: 12px;
  margin-bottom: 0px;

  th {
    padding: 0 5px;
  }
  th.f-id, th.f-status {
    text-align: center;
  }
  td.f-id {
    text-align: center;
  }
  tr.hover td {
    background-color: whitesmoke;
  }
  input {
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  td.f-status {
    padding-top: 5px;
    text-align: center;
    .label {
      width: 60px;
      margin: auto;
      text-align: center;
    }
  }
  .f-chb {
    text-align: center;
    input {
      margin: auto;
    }
  }
  .f-action {
    text-align: center;
    .btn {
      margin: 5px auto;
    }
  }
}


.alert-container {
  position: absolute;
  width: 40%;
  left: 50%;
  top: 41px;
  margin-left: -20%;
  
  .alert {
    margin-bottom: 3px;
  }
}


.form-horizontal {
  .control-label {
    float: left;
    width: 200px;
  }
  
  .controls {
    margin-left: 220px;
    input {
      width: 280px;
    }
  }
}