// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  #map {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.navbar .nav.pull-right {
  margin-right: 20px;
}

.layer-status {
  width: 12px;
  height: 12px;
  border-radius: 7px;
  border: 1px solid white;
  margin: 3px;
}

.layer-status-off {
  background-color: red;
  border: 1px solid #c00000;
}

.layer-status-loading {
  background-color: yellow;
  border: 1px solid #c0c000;
}

.layer-status-on {
  background-color: green;
  border: 1px solid #00c000;
}

#list-station, #list-point {
  font-size: 12px;
  margin-bottom: 0px;
}

#list-station th, #list-point th {
  padding: 0 5px;
}

#list-container input {
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.alert-success, .alert-error {
   position: absolute;
   width: 40%;
   left: 50%;
   top: 30%;
   margin-left: -20%;
}

.navbar input, .navbar button.btn, .navbar label.label {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0 6px;
}

.navbar input, .navbar label.label {
  width: 200px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid black;
}

.navbar button.btn {
  width: 80px;
}

.navbar label.label {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  background: none;
}

.form-horizontal .control-label {
  float: left;
  width: 200px;
}

.form-horizontal .controls {
  margin-left: 220px;
}

.form-horizontal .controls input {
  width: 280px;
}