<div id="map" style="margin:2px 0 0"></div>
<script>
	jQuery(function($) {
		$('#map').parent().removeClass('container');
		$('#map').css('height', $(window).height() - $('#map').position().top - 4 + 'px');

		// Inital map location
		var map = L.map('map').setView([51, -110], 6);
		var boundsList = [];

		// Use MapBox as base layer
		var baseLayer = L.tileLayer('http://{s}.tiles.mapbox.com/v2/tesera.map-lmy2wpqu/{z}/{x}/{y}.png').addTo(map);

		// nhn:hydrography:hydro1m_l only display at zoom 9
		var overlay = L.tileLayer.wms("http://ows.geobase.ca/wms/geobase_en", {
			layers : 'nhn:hydrography:hydro1m_l',
			format : 'image/png',
			transparent : true
		}).addTo(map);

		var controlLayers = L.control.layers({
			"Base" : baseLayer
		}, {
			"Overlays" : overlay
		}).addTo(map);

		map.on('zoomend', function(e) {
			if (map.getZoom() != 9) {
				map.removeLayer(overlay);
				controlLayers.removeLayer(overlay);
			} else {
				map.addLayer(overlay);
				controlLayers.addOverlay(overlay, 'Overlay');
			}
		})

		map.on('click', function(e) {
			if (!map.hasLayer(overlay) || map.getZoom() != 9) {
				return;
			}

			var url = 'http://ows.geobase.ca/wms/geobase_en';
			var data = {
				REQUEST : "GetFeatureInfo",
				EXCEPTIONS : "application/vnd.ogc.se_xml",
				BBOX : map.getBounds().toBBoxString(),
				SERVICE : "WMS",
				QUERY_LAYERS : 'nhn:hydrography:hydro1m_l',
				Layers : 'nhn:hydrography:hydro1m_l',
				VERSION : '1.1.1',
				SRS : 'EPSG:4269',
				WIDTH : map.getSize().x,
				HEIGHT : map.getSize().y,
				x : e.latlng.lat,
				y : e.latlng.lng
			};
			var kvp = [];
			for (var i in data) {
				kvp.push(i + '=' + data[i]);
			}
			url += '?' + kvp.join('&');

			$.ajax({
				url : '/proxy',
				data : {
					url : url
				},
				success : function(xml, status, response) {
					var e = $(xml).find('ServiceException')
					alert('Your request is:\n\n' + url + '\n\n' + (e.length ? 'However, we have an exception:\n' + e[0].textContent : ''))
				}
			});
		});
		
		$.ajax({
			url : '/proxy',
			data : {
				url : ['http://198.103.103.7/GinService/sos?', //
				'REQUEST=GetFeatureOfInterest', //
				'&VERSION=2.0.0', //
				'&SERVICE=SOS', //
				'&spatialFilter=om:featureOfInterest/*/sams:shape,-101.2,49,-99.5,50.1', //
				'&namespaces=xmlns(sams,http://www.opengis.net/samplingSpatial/2.0),xmlns(om,http://www.opengis.net/om/2.0']//
				.join('')
			},
			success : function(responseXML) {
				var xml = responseXML, point, description, identifier;
				var markers = new L.MarkerClusterGroup();
				var bounds = new L.LatLngBounds();

				$(xml).find('featureMember').each(function(index, element) {
					point = $(element).find('pos')[0].textContent.split(' ');
					description = $(element).find('description')[0].textContent;
					identifier = $(element).find('identifier')[0].textContent;
					markers.addLayer(new L.Marker(point).bindPopup(description + ' (' + identifier + ')'));

					bounds.extend(L.latLng(point));
				})

				boundsList.push(bounds);
				fitBoundsList();
				map.addLayer(markers);
			}
		});

		$.ajax({
			url : '/proxy',
			data : {
				url : ['http://ngwd-bdnes.cits.nrcan.gc.ca:8080/proxy/GinService/sos/gw?', //
				'REQUEST=GetFeatureOfInterest', //
				'&VERSION=2.0.0', //
				'&SERVICE=SOS', //
				'&spatialFilter=om:featureOfInterest/*/sams:shape,-116,50.5,-114.3,51.6', //
				'&namespaces=xmlns(sams,http://www.opengis.net/samplingSpatial/2.0),xmlns(om,http://www.opengis.net/om/2.0)']//
				.join('')
			},
			success : function(responseXML) {
				var xml = responseXML, point, description, identifier;
				var markers = new L.MarkerClusterGroup();
				var bounds = new L.LatLngBounds();

				$(xml).find('featureMember').each(function(index, element) {
					point = $(element).find('pos')[0].textContent.split(' ');
					description = $(element).find('description')[0].textContent;
					identifier = $(element).find('identifier')[0].textContent;
					markers.addLayer(new L.Marker(point).bindPopup(description + ' (' + identifier + ')'));

					bounds.extend(L.latLng(point));
				})

				boundsList.push(bounds);
				fitBoundsList();
				map.addLayer(markers);
			}
		});

		$.ajax({
			url : '/proxy',
			data : {
				url : 'http://nwisvaws02.er.usgs.gov/ogc-swie/wfs?request=GetFeature'
			},
			success : function(responseXML) {
				var xml = responseXML, point, d, identifier;
				var markers = new L.MarkerClusterGroup();
				var bounds = new L.LatLngBounds();

				$(xml).find('member').each(function(index, element) {
					point = $(element).find('pos')[0].textContent.split(' ');
					d = $(element).find('CharacterString')[0].textContent;
					identifier = $(element).find('name')[0].textContent;
					markers.addLayer(new L.Marker(point).bindPopup(d + ' (' + identifier + ')'));

					bounds.extend(L.latLng(point));
				})

				boundsList.push(bounds);
				fitBoundsList();
				map.addLayer(markers);
			}
		});

		function fitBoundsList() {
			if (boundsList.length == 3) {
				var b = new L.LatLngBounds();
				for (var i = 0, bounds; bounds = boundsList[i++]; ) {
					b.extend(bounds);
				}

				//map.fitBounds(bounds);
				var zoom = map.getBoundsZoom(b);
				map.setView(b.getCenter(), zoom - 1);
			}
		}

	})
</script>
